<h1>編集ページ</h1>
<%= link_to 'アルバム', '/posts' %>



<div class="contents row">
  <div class="container">
    <%= form_with(model: @post, local: true) do |form| %>
      <h3>
        投稿する実装
      </h3>
      <%= form.text_field :content, placeholder: "思い出の言葉" %>
      <%= form.file_field :image, placeholder: "Image Url" %>
      <label class="date-label" for="">撮影日</label>
      <%= form.date_select :image_at, class: 'date-label' %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>